<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>E:\testrelease\BIOCAT112912\BIOCAT-120412\biocat.jar</jar>
  <outfile>E:\testrelease\BIOCAT112912\BIOCAT-120412\biocat.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir></chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <customProcName>false</customProcName>
  <stayAlive>false</stayAlive>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path></path>
    <minVersion>1.5.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <initialHeapPercent>20</initialHeapPercent>
    <maxHeapPercent>80</maxHeapPercent>
  </jre>
</launch4jConfig>